
@import "bootstrap";
@import "rem", "font", "mixins/mixin";

/* basic */
$min-width: 320px;
$img-url: "../images";
$screen-size-pc: 1200px;
.mCenter {
    margin:0 auto;
}



* {
    @include box-sizing;
    @include ani();
}

input,
select,
textarea {
    @include border-radius(0);
    /*
    @media all and (max-width: 1199px) {
        appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        -webkit-appearance: none;

        &::-ms-expand {
            display: none;
        }
    }
*/
}

a {
    text-decoration: none;
    color: $gray-900;
}
/*font*/
html {
    min-width: $min-width;
    max-width: 100%;
    font-size: 14px;
    min-height: 100%;
}

@media (max-width:360px) {
    html {
        font-size: 14px;
    }
}
@media (min-width:361px) and (max-width:480px) {
    html {
        font-size: 16px;
    }
}
@media (min-width:481px) {
    html {
        font-size: 18px;
    }
}
@media (min-width:1200px) {
    html {
        font-size: 14px;
    }
}

body {
    font-family: $myfont, "Malgun Gothic", "apple sd gothic neo", sans-serif;
    color: $gray-900;

}

.sr-only {
    position: absolute !important;
    overflow: hidden !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    clip: rect(0, 0, 0, 0) !important;
    border: 0 !important;
}

.sr-only-focusable:active,
.sr-only-focusable:focus {
    position: static;
    height: auto;
    margin: 0;
    overflow: visible;
    clip: auto;
}

/* style */

body {
    text-align:center; 
    
    .container {
        @include container(100%);
        text-align: left;
        vertical-align: top;
        padding: rem(0 10px);

        @media only screen and (min-width : $screen-size-pc) {
            @include container($screen-size-pc);
            padding: 0;
        }
    }

    /* login */
    &.cmsLogin {
        padding:rem(20px);
        background:$gray-300;

        form.form-signin {
            width:rem(300px);
            max-width:100%;
            margin:20vh auto 0;

            @media only screen and (min-width : $screen-size-pc) {
                width:360px;
            }

            img {
                width:rem(126px);
                height:rem(80px);
            }

            h1 {
                font-size:rem(22px);
                margin:rem(0 0 30px);

                @media only screen and (min-width : $screen-size-pc) {
                    font-size:26px;
                }
    
            }

            input[type=text],
            input[type=password] {
                height:rem(50px);

                &#inputID {
                    border-bottom:none;
                    border-radius:rem(5px 5px 0 0);
                }

                &#inputPassword {
                    border-radius:rem(0 0 5px 5px);
                    margin-bottom:rem(10px);
                    font-family:sans-serif;
                }
            }
        }
    }


    /* main */
    &.cmsMain {
        background:$gray-200;



        header {
            text-align:center;
            position: absolute;
            overflow: hidden;
            left: 0;
            right: 0;
            top: 0;
            height: rem(50px);
            line-height: rem(50px);
            padding:rem(0 0 0 0);
            background: $main-color;

            @media only screen and (min-width : $screen-size-pc) {
                background: $white;
                height: 60px;
                line-height: 60px;
                vertical-align: top;
                padding:0;
            }

            button.menu {
                position: absolute;
                top:0;
                left:0;
                border: none;
                background: $main-color - 20%;
                color: $white;
                height: rem(50px);
                width: rem(50px);
                vertical-align: top;
                font-size: 0;
                outline: none !important;
                line-height:1;

                @media only screen and (min-width : $screen-size-pc) {
                    display:none;
                }


                i.bar {
                    position:absolute;
                    display:block;
                    width:40%;
                    border-radius:2px;
                    height:2px;
                    background:$white;
                    left:30%;
                    top:50%;
                    @include ani(0.8s);

                    @media only screen and (min-width : $screen-size-pc) {
                        width:20%;
                        left:50%;
                        @include opacity(0.6);
                    }
                    &:first-of-type {
                        top:35%;

                        @media only screen and (min-width : $screen-size-pc) {
                            top:41%;
                            transform: rotate(-45deg);
                        }
                    }

                    &:nth-of-type(2) {
                        top:50%;

                        @media only screen and (min-width : $screen-size-pc) {
                            @include opacity(0);
                        }
                    }

                    &:last-of-type {
                        top:65%;

                        @media only screen and (min-width : $screen-size-pc) {
                            top:54%;
                            transform: rotate(45deg);
                        }
                    }
                }
            }

            h1 {
                position:relative;
                display: inline-block;
                @include pmz(0,0 0 0 52px);
                font-size: rem(16px);
                line-height:inherit;

                @media only screen and (min-width : $screen-size-pc) {

                    font-size: 22px;
                    font-weight:800;
                    @include pmz(0 0,0);

                    &::before {
                        content:"";
                        position:relative;
                        top:10px;
                        display:inline-block;
                        width:57px;
                        height:36px;
                        margin-right:6px;
                        background:url("#{$img-url}/logo.svg") no-repeat center;
                    }
                }

                a {
                    color: $white;

                    @media only screen and (min-width : $screen-size-pc) {
                        color: $gray-900;
                    }

                }
            }

            nav#main-menu {

    
                @media only screen and (max-width : $screen-size-pc - 1px) {
                    position:fixed;
                    overflow:hidden;
                    left:0;
                    top:0;
                    bottom:0;
                    width:0;
                    background:$gray-800;
                    z-index:900;
                    @include opacity(0);

                    ul {
                        list-style:none;
                        @include pmz(0, rem(50px 20px));

                        li {
                            h3 {
                                @include pmz(0, rem(0 0 20px));

                                a {
                                    display:block;
                                    color:$white;
                                    font-size:rem(20px);
                                    word-break:keep-all;
                                    white-space:nowrap;

                                    i {
                                        position:relative;
                                        top:rem(4px);
                                        margin-right:rem(6px);
                                        color:$gray-600;
                                        font-size:rem(24px);

                                    }
                                }
                            }
                        }
                    }
                }

                @media only screen and (min-width : $screen-size-pc) {
                    position:absolute;
                    left:360px;
                    top:14px;
                    line-height:1;
                    ul {
                        li {
                            display:inline-block;
                            margin-right: 30px;

                            h3 {
                                @include pmz(0,0);

                                a {
                                    font-size:18px;
                                    
                                    i {
                                        position:relative;
                                        top:4px;
                                        margin-right: 6px;
                                        font-size:24px;
                                        color:$gray-400;
                                    }
                                }
                            }

                        }
                    }
                }

            }

            p.welcome {
                display: none;

                @media only screen and (min-width : $screen-size-pc) {
                    position:absolute;
                    right:120px;
                    display: inline-block;
                    font-size: 14px;
                    @include pmz(0 20px, 0);
                }

            }

            button.logout {
                position: absolute;
                right: 0;
                top:0;
                border: none;
                background: none;
                font-size: rem(12px);
                @include pmz(0 10px, 0);
                color: $white;
                outline: none !important;

                @media only screen and (min-width : $screen-size-pc) {
                    background: $gray-100;
                    color: $gray-900;
                    font-size:17px;
                }

                i {
                    position:relative;
                    top:rem(2px);
                    margin-right:rem(4px);

                    @media only screen and (min-width : $screen-size-pc) {
                        top:1px;
                        margin-right:6px;
                    }
                }

            }
        }


        div#content {
            position:relative;
            margin-top: rem(50px);
            font-size:rem(11px);
            padding:rem(20px 0 10px);

            @media only screen and (min-width : $screen-size-pc) {
                margin: 60px 0 0;
                display: inline-block;
                width: 100%;
                vertical-align: top;
                font-size: 14px;
                padding:30px;
            }

            h2.sTitle {
                @include pmz(rem(0 10px), 0);
                text-align:left;
                font-size:rem(20px);
                color:$gray-700;
                font-weight:800;

                @media only screen and (min-width : $screen-size-pc) {
                    font-size:32px;
                    @include pmz(0, 0 0 20px);
                }
    

                i {
                    position:relative;
                    top:rem(2px);
                    margin-right:rem(6px);
                    color:#bbb;
                }
            }

            nav.navigation {

                @media only screen and (min-width : $screen-size-pc) {
                    position:absolute;
                    right:0;
                    top:10px;
                }

                .icon {
                    font-size:0;
                    i {
                        font-size:rem(16px);
                        color:$gray-600;

                        @media only screen and (min-width : $screen-size-pc) {
                            font-size:20px;
                        }
                    }
                }
            }

            div.contentsArea {
                min-height:rem(200px);

                h3.bTitle {
                    color:$gray-700;
                    font-weight:800;
                    font-size:rem(16px);
                    border-bottom:1px solid $gray-200;
                    @include pmz(rem(0 0 10px), rem(0 0 20px));

                    @media only screen and (min-width : $screen-size-pc) {
                        font-size:22px;
                        @include pmz(0 0 20px, 0 0 20px);
                    }
                }

                .shadowBox {
                    background:$white;
                    @include drop-shadow(0, 3px, 5px, 2px, 0.05);

                    &:hover {
                        @include drop-shadow(0, 5px, 10px, 5px, 0.1);
                    }
                }

                .widget {
                    position:relative;
                    display:inline-block;
                    width:100%;
                    border-radius: $border-radius;
                    overflow:hidden;
                    
                    @include pmz(0, rem(0 0 20px));

                    &.paddingWidget {
                        @include pmz(rem(10px), rem(0 0 20px));

    
                        @media only screen and (min-width : $screen-size-pc) {

                            @include pmz(20px, rem(0 0 20px));
                        }
                    }

                    &.box1 {
                        min-height:30vh;
                    }

                    h4.widgetTitle {
                        font-size:rem(14px);
                        @include pmz(rem(10px), 0);
                        background:rgba($black, 0.05);
                        border-bottom:1px solid rgba($black, 0.07);
                        font-weight:600;
                        @media only screen and (min-width : $screen-size-pc) {
                            font-size:16px;
                            @include pmz(14px 10px, 0);
                        }
                    }

                    div.widgetContent {
                        @include pmz(0, 0);
                    }

                    &.weather {
                        position:relative;
                        padding: rem(30px);
                        background:$main-color;
                        color:$white;

                        h4 {
                            font-size: rem(16px);

                            strong {
                                font-size: rem(20px);
                                margin-right: rem(6px);
                            }
                        }

                        div.big {
                            position:absolute;
                            right:rem(30px);
                            top:rem(20px);

                            i {
                                font-size:rem(60px);
                            }
                        }
                        
                    }
                }

                .bnWidget {
                    position:relative;
                    display:inline-block;
                    width:100%;
                    border-radius: $border-radius;
                    overflow:hidden;
                    background:$secondary;
                    font-size:0;
                    @include pmz(0, rem(0 0 20px));
                    color:#fff;



                    h4.widgetTitle {
                        position:relative;
                        font-size:rem(14px);
                        @include pmz(rem(10px), 0);
                        background:rgba($black, 0.05);
                        border-bottom:1px solid rgba($black, 0.07);
                        font-weight:600;
                        
                        @media only screen and (min-width : $screen-size-pc) {
                            width:60%;
                            font-size:16px;
                            @include pmz(14px 10px, 0);
                        }

                        small {
                            position:absolute;
                            right:0;
                            top:0;
                            bottom:0;
                            display:block;
                            text-align:right;
                            padding:rem(15px 45px 15px 15px);

                            i {
                                position:absolute;
                                right:rem(10px);
                                top:rem(8px);
                                font-size:rem(30px);
                            }
                        }
                    }


                    div.conLeft {
                        font-size:rem(14px);
                        width:100%;
                        
                        @media only screen and (min-width : $screen-size-pc) {
                            display:inline-block;
                            vertical-align:top;
                            width:60%;
                            min-height:203px;
                        }


                        div.chart {
                            min-height: rem(140px);
                            background:rgba($black, 0.2);
                        }

                        ul {
                            list-style:none;
                            @include pmz(rem(10px), 0);
                            font-size:0;

                            li {
                                display:inline-block;
                                width:50%;
                                font-size:rem(14px);
                            }
                        }
                    }
                    div.conRight {
                        position:relative;
                        font-size:rem(14px);
                        background:rgba($black, 0.2);
                        
                        @media only screen and (min-width : $screen-size-pc) {
                            display:inline-block;
                            vertical-align:top;
                            background:rgba($black, 0.6);
                            width:40%;
                            min-height:203px;
                        }

                        h5 {
                            background:rgba($black, 0.1);
                            @include pmz(rem(10px), 0);
                            font-size:rem(14px);
                            
                        
                            @media only screen and (min-width : $screen-size-pc) {
                                position:absolute;
                                left:0;
                                right:0;
                                top:-48px;
                                line-height:28px;
                                background:rgba($black, 0.4);
                            }
                        }

                        table {
                            width:100%;

                            th {
                                text-align:center;
                                @include pmz(rem(10px), 0);
                                background:#000;
                                font-size:rem(12px);
                            }

                            td {
                                text-align:center;
                                border-bottom:1px solid rgba($black, 0.3);

                                a {
                                    display:block;
                                    @include pmz(rem(10px), rem(5px));
                                    border-radius:rem(6px);
                                    background:#000;
                                    color:#fff;

                                    &.normal {
                                        background:$main-color;
                                    }

                                    &.warning {
                                        background:$warning;
                                        color:#000;
                                    }

                                    &.danger {
                                        background:$danger;
                                    }






                                }
                            }
                        }
                    }
                }

                .bnConsole {
                    position:relative;
                    display:inline-block;
                    width:100%;
                    border-radius: $border-radius;
                    overflow:hidden;
                    background:#000;
                    @include pmz(rem(10px 10px 5px), rem(0 0 20px));
                    color:#fff;
                    height:rem(100px);
                    overflow-y:scroll;

                    &::-webkit-scrollbar {
                        width: rem(16px);
                        background: rgba(255,255,255,0.3);
                    }

                    &::-webkit-scrollbar-thumb {
                        background: rgba(0,0,0,0.3);
                    }

                    p {
                        @include pmz(0, rem(0 0 5px));
                        color:#999;

                        &.warning {
                            color:$warning;
                        }

                        &.danger {
                            color:$danger;
                        }
                    }

                    button {
                        position:absolute;
                        right:rem(10px);
                        top:rem(10px);
                    }

                }


                .search {
                    padding:rem(10px);
                    background:$gray-300;
                    border:2px solid $gray-400;
                    border-radius: $border-radius;
                    margin-bottom:rem(10px);

                    @media only screen and (min-width : $screen-size-pc) {
                        padding:20px;
                    }

                    div.form-row {
                        line-height:calc(1.5em + 0.75rem + 2px);
                    }
                }

                .cbox {
                    display:inline-block;
                    width:100%;
                    margin-bottom:rem(20px);

                    .inside {
                        padding:rem(10px);
                        background:$white;
                        border-radius: $border-radius;
                        border:1px solid $gray-300;

                        @media only screen and (min-width : $screen-size-pc) {
                            padding:30px;
                        }
                    }
                }
            }





        }
        





        &.menuToggle {

            header {

                button.menu {
                    position:fixed;
                    background: $gray-900;
                    z-index:990;
                    left: calc(100vw - 60px);
                    right: 0;
                    width: 60px;


                    i.bar {


                        &:first-of-type {
                            top:50%;
                            transform: rotate(45deg);

                            @media only screen and (min-width : $screen-size-pc) {
                                top:41%;
                            }
                        }

                        &:nth-of-type(2) {
                            @include opacity(0);
                        }

                        &:last-of-type {
                            top:50%;
                            transform: rotate(-45deg);

                            @media only screen and (min-width : $screen-size-pc) {
                                top:54%;
                            }
                        }
                    }
                }

                nav#main-menu {
    
                    @media only screen and (max-width : $screen-size-pc - 1px) {
                        width:100%;
                        @include opacity(1);
                    }
                }

            }


        }






    }



    footer#footer {
        text-align: center;
        margin:rem(0 0 20px);

    }

}
